{% extends "mypage/layout.html"  %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title  %}
HeyCASh
{% endblock  %}

{%  block content %}
<body>
    <form class="" action="/board/" method="POST">
      {% csrf_token %}

      <input type="submit" name="" value="Submit">
      {{ form | crispy }}
    </form>

    <hr>
        {% for post in posts reversed%}
        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        <p>{{ post.created_at }}</p><br/>
    <hr>
  
    {% endfor %}
</body>
{% endblock  %}