{% extends "mypage/layout.html"  %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title  %}
HeyCASh
{% endblock  %}

{%  block content %}
<body>
  <div class="row"></div>
  <div class="container">
    <form class="" action="/board/" method="POST">
      {% csrf_token %}

      
      {{ form | crispy }}
      <input type="submit" name="" value="Submit">
    </form>
  </div>
  <div class = "container">
   <table>
      <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
        </tr>
      </thead>

      <tbody>
      {% for post in posts reversed%}
        <tr>
          <td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></td>
          <td>{{ post.created_at }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock  %}