{% extends "mypage/layout.html"  %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title  %}
Diary
{% endblock  %}

{%  block content %}
<body style="background-image:url(/static/background_transparent.jpg);">
  <div class="row">
    <div class="col s12 m3"></div>
    <div class="col s12 m6">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            이곳을 눌러주세요!
          </div>
          <div class="collapsible-body"><p>제목과 내용을 입력하고 버튼을 눌러주세요 !</p><p>아래 게시물 제목을 클릭하면 상세 내용을 확인할 수 있어요 !</p></div>
        </li>
      </ul>
      
    <form class="" action="/diary/" method="POST">
      {% csrf_token %}

      
      {{ form | crispy }}
      <button class="btn waves-effect waves-light" type="submit" name="" value="Submit" style="margin-right:20px;">
        <i class="material-icons">border_color</i>
      </button>
    </form>
  
     <table>
        <thead>
          <tr>
              <th>제목</th>
              <th>날짜</th>
          </tr>
        </thead>
  
        <tbody>
        {% for post in posts reversed%}
          <tr>
            <td><a href="{% url 'diary_detail' pk=post.pk %}">{{ post.title }} ({{ post.diarycomment_set.count }})</a></td>
            <td>{{ post.created_at }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
</body>
{% endblock  %}