{% extends "mypage/layout.html"  %}
{% load staticfiles %}

{% block title  %}
imheej
{% endblock  %}
{% load crispy_forms_tags %}


<script type="text/javascript", src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


{%  block content %}
<body style="background-image:url(/static/background_transparent.jpg);">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="row">
     
          <div class="row"></div>
          <div class="row"></div>
          <div class="row">
            <h4 style= "padding-left: 6%;" align=left class="header col s12 light"><b>Hello Heejae</b></h4>
            
          </div>
      </div>

      <div class="row" align= "right" style = "padding: 40px">
        <a href="/board"  type="button" id="clickme" class="btn-large waves-effect waves-light teal lighten-1" >글 쓰러가기</a>
      </div>
    </div>
  </div>
  


      <div class="row" style="padding-top:80px">
        
        
        <div class="col s12 m2" >
          <div class="card"style="width:100%;height:100%;background-color:transparent;">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'cat.jpg' %}">
            </div>
            <div class="card-content" style="background-color:transparent;">
              <span class="card-title activator grey-text text-darken-4">imheej<i class="material-icons right">more_vert</i></span>
              <p><a href="/profile">프로필</a></p>
            </div>
            <div class="card-reveal" >
              <span class="card-title grey-text text-darken-4">imheej<i class="material-icons right">close</i></span>
              <p>안녕하세요 희재입니다.</p>
            </div>
          </div>
        </div>
        
        
        
        <div class="col s12 m4"></div>
        
        
         
        
        <div class="col s12 m4">
          <div id="player"></div>
          <script>
            /* global YT */
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
      
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
              player = new YT.Player('player', {
                //height: '360',
                width: '100%',
                videoId: 'PG8oE2CaDvo',    // 동영상 바꾸고 싶을때 여기 바꾸면 됨
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                }
              });
            }
      
            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
              //event.target.playVideo();
            }
      
            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
              if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 0000);
                done = true;
              }
            }
            function stopVideo() {
              player.stopVideo();
            }
          </script>
        </div>  
        
        <div class="col s12 m2">
          <div class="container" style="width:100%;height:250px;">
            <span class="new badge"style = "padding-bottom:20px;" ><b>한마디 남겨주세요. ' ? '에 저장됩니다!</b></span>
            <form class="" action="/board/" method="POST" style="padding-top:20px;">
              {% csrf_token %}
        
              
              {{ form | crispy }}
              <button class="btn waves-effect waves-light" type="submit" name="" value="Submit" style="margin-right:20px;">
                <i class="material-icons">border_color</i>
              </button>
            </form>
          </div>  
        </div>
    </div>
  </div>
  </body>
</html>
{% endblock  %}
