{% extends "mypage/layout.html"  %}
{% load staticfiles %}

{% block title  %}
HeyCASh
{% endblock  %}



<script type="text/javascript", src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


{%  block content %}
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="row">
     
          <div class="row"></div>
          <div class="row"></div>
          <div class="row">
            <h5 style= "padding-left: 6%;" align=left class="header col s12 light">Order Online, Pay Cash in Convenient Store</h5>
          </div>
       
        <br><br>
      </div>
      <div class="row">
          <img style= "padding-right: 20px;" align="right" width=10% height=10% src="{% static 'order.png' %}"/>
          <img style= "padding-right: 20px;"align="right" width=10% height=10% src="{% static 'alba.png' %}"/>
          <img style= "padding-right: 20px;"align="right" width=10% height=10% src="{% static 'convenience.png' %}"/>
          <img style= "padding-right: 20px;"align="right" width=10% height=10% src="{% static 'ipad.png' %}"/>
      </div> 
      <div class="row" align= "right" style = "padding-right: 40px;">
        <a style = "padding-right: 20px;" type="button" id="clickme" class="btn-large waves-effect waves-light teal lighten-1">Find out More</a>
      </div>
    </div>
      
    <div class="parallax"><img src="{% static 'background.png' %}" alt="Unsplashed background img 1"></div>

  </div>
  


      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'cat.jpg' %}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Our Story<i class="material-icons right">more_vert</i></span>
              <p><a href="#ourstory">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Our Story<i class="material-icons right">close</i></span>
              <p>Heycash is a leading provider of Payment technologies and services, offering scalable solutions for companies of all sizes. Founded by a group of friends who started by scribbling their ideas on a piece of paper, today we offer smart, innovative services to dozens of clients worldwide.We built our solutions by closely learning our potential clientele and their expectations from our product. We know how to analyze this information and customize our offering to changing market needs. Why not join our fast growing customer base? Get in touch today to learn more about the Heycash story.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4" id = "ourstory">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'cat.jpg' %}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Our Story<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Our Story<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'cat.jpg' %}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Our Story<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Our Story<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'background.png' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'background3.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </body>
</html>
{% endblock  %}
