{% extends "mypage/layout.html"  %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title  %}
Profile
{% endblock  %}

{%  block content %}
<body style="background-image:url(/static/background_transparent.jpg);">
    <div class = "row" style="padding-top:20px">
        <div class = "col s12 m3"></div>
        
        
        <div class = "col s12 m6" >
            <div class="row"></div>
            <div class="row"></div>
            <div style = "text-align:center">
              <div class="preloader-wrapper active">
                <div class="circle"></div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
                <div class="circle"></div> <i class="material-icons">brightness_5</i>
              </div>
            
              <div class="preloader-wrapper active">
                <div class="circle"></div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
                <div class="circle"></div> <i class="material-icons">cloud</i>
              </div>
              
              <div class="preloader-wrapper active">
                <div class="circle"></div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
                <div class="circle"></div> <i class="material-icons">accessibility</i>
              </div>
              
              <div class="preloader-wrapper active">
                <div class="circle"></div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
                <div class="circle"></div> <i class="material-icons">android</i>
              </div>
              
              <div class="preloader-wrapper active">
                <div class="circle"></div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
                <div class="circle"></div> <i class="material-icons">brightness_3</i>
              </div>
            </div>
            <div class="row" style="padding-top:30px"></div>
            <div class="card">
              <div class="card-content">
                <p>안녕하세요. 희재입니다. 동물과 컴퓨터와 빼빼로를 좋아해요. 하지만 요즘엔 꼬북칩도 좋아해요. Before Blooming 스타트업 팀에서 Heycash 서비스를 개발 중입니다. 찾으실 일이 있다면 아래 연락처로 연락해 주세요.</p>
              </div>
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a href="#test4">Email</a></li>
                  <li class="tab" onclick="Materialize.toast('주소를 클릭하면 Github로 연결됩니다 !',4000)"><a class="active" href="#test5">Github</a></li>
                  <li class="tab" onclick="Materialize.toast('주소를 클릭하면 Youtube로 연결됩니다 !',4000)"><a href="#test6">Youtube</a></li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="test4">heejjeeh@gmail.com</div>
                <div id="test5"><a href="https://github.com/iceCreamParlor">https://github.com/iceCreamParlor</a></div>
                <div id="test6"><a href="https://www.youtube.com/channel/UCC7axIMIRWZLjV7x7MPX3YA">https://www.youtube.com/channel/UCC7axIMIRWZLjV7x7MPX3YA</a></div>
              </div>
            </div>
            
             <nav>
              <div class="nav-wrapper">
                <div class="col s12">
                  <a href="#!" class="breadcrumb">Pangyo</a>
                  <a href="#!" class="breadcrumb">StartupCampus</a>
              </div>
            </nav>
            
            <div id="map" style="width:100%;height:300px;"></div>
              <script>
              /* global naver */
              var map = new naver.maps.Map('map', {
                  center: new naver.maps.LatLng(37.404371, 127.106521),
                  zoom: 12
              });
              
              var marker = new naver.maps.Marker({
                  position: new naver.maps.LatLng(37.404371, 127.106521),
                  map: map
              });
              /*
              var polygon = new naver.maps.Polygon({
                  map: map,
                  paths: [
                      [
                          new naver.maps.LatLng(37.404817, 127.104948),
                          new naver.maps.LatLng(37.404529, 127.105404),
                          new naver.maps.LatLng(37.404384, 127.105554),
                          new naver.maps.LatLng(37.403971, 127.106048),
                          new naver.maps.LatLng(37.403973, 127.107642),
                          new naver.maps.LatLng(37.404331, 127.107626),
                          
                          new naver.maps.LatLng(37.404510, 127.106783),
                          new naver.maps.LatLng(37.404661, 127.106692),
                          new naver.maps.LatLng(37.405153, 127.106614),
                          
                          new naver.maps.LatLng(37.405315, 127.105984),
                          new naver.maps.LatLng(37.404817, 127.104948)
                      ]
                  ],
                  fillColor: '#333333',
                  fillOpacity: 0.3,
                  strokeColor: '#333333',
                  strokeOpacity: 0.3,
                  strokeWeight: 3
              });
              */
              </script>
            
        </div>
    </div>
</body>
{% endblock  %}


